.sales-by-store-container {
  height: 520px;
  padding: 40px 50px 0 15px;
  width: 300px;
}

.sales-by-store-sum {
  font-size: 36px;
  color: var(--blue-color);
  margin-bottom: 10px;
}

.sales-by-store-title {
  font-size: 18px;
  color: var(--grey-color);
}

@media (min-width: 576px) {
  .sales-by-store-container {
    height: 520px;
    padding-left: 40px;
    width: 500px;
  }
}

@media (min-width: 768px) {
  .sales-by-store-container {
    width: 680px;
  }
}

@media (min-width: 992px) {
  .sales-by-store-container {
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .sales-by-store-chart {
    display: flex;
    align-content: space-between;
  }
}
